<!doctype html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Employee Work Schedule Management</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li th:classappend="${#request.getRequestURI() == '/registration' ? 'active' : ''}">
                    <a th:href="@{/registration}">
                        <i class="material-icons">person_add</i> Register
                    </a>
                </li>
                <li th:classappend="${#request.getRequestURI() == '/login' ? 'active' : ''}">
                    <a th:href="@{/login}">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>